<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
        <add key="TestUserLogin" value="TestUserLogin" />
        <add key="TestUserPassword" value="TestUserPassword" />
        <add key="TestUrl" value="https://wpm-trial.apicasystem.com/Users" />
  </appSettings>
</configuration>
